<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <mata http-equiv="X-UA-Compatible" content="IE-edge" />
        <meta name ="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboardstyle.css') }}">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    </head>
    <body>
        <header class="header">
            <nav class="navbar">
                <a href="#">Home</a>
                <a href="products">Products</a>
                <a href="edit_cart">Add to Cart</a>
                <a href="view_cart">Order List</a>
            </nav>
            <form action="#" class="search-bar">
                <input type="text" placeholder="Search...">
                <button type="submit"> <i class='bx bx-search'></i></button>
            </form>
        </header>
        <div class="background"></div>
           <div class="container">
            <h1>Welcome, Shopper!</h1>
            <p>Step into a world where style meets comfort, and fashion becomes a statement. 
                We are thrilled to have you here at AMLSHOP, 
                your go-to destination for trendsetting and timeless apparel.
                At AMLSHOP, we believe that fashion is not just about clothing; it's a reflection 
                of your unique personality and the way you express yourself to the world. Our carefully curated 
                collection is designed to inspire confidence and embrace individuality.
            </P>
           </div>
    </body>
   
</html>