<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping App</title>

    <style>
        body {
            text-align: center;
            font-family: Arial, sans-serif;
            /* Added a generic font family for better compatibility */
        }

        .shopping-label {
            font-size: 50px;
        }

        .products-label {
            font-weight: lighter;
            font-size: 20px;
            margin-top: -10px;
        }


        nav {
            margin-bottom: 20px;
            /* Added some bottom margin for better spacing */
        }

        nav a {
            margin: 0 10px;
            /* Added margin to each link for better spacing */
            text-decoration: none;
            color: #333;
            /* Set link color */
        }

        nav a:hover {
            color: #ff0000;
            /* Change color on hover */
        }

        form {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            /* Distribute the items evenly in the row */
            max-width: 900px;
            /* Adjust the max-width as needed */
            margin: 0 auto;
            /* Center the form */
        }

        form>div {
            width: 30%;
            /* Set the width of each column */
            margin: 10px;
            /* Add margin to each column for better spacing */
        }

        img {
            width: 100%;
            height: auto;
        }

        /* Add a class to hide categories */
        .hidden {
            display: none;
        }
    </style>
</head>

<body>
    <h1 class="shopping-label">AMLSHOP</h1>
    <h1 class="products-label">P R O D U C T S</h1>
    <h6><a href="{{ url_for('dashboard') }}">H O M E</a></h6>
    <h6><a href="{{ url_for('view_cart_route') }}">C A R T</a></h6>

    <div class="category">
        <form action="{{ url_for('add_to_cart_route') }}" method="post">
            <!-- DRESS 1 -->
            <div>
                <input type="hidden" name="product_id1" value="1">
                <img src="{{ url_for('static', filename='dress1.png') }}" alt="Celestial Charm Dress">
                <p>Celestial Charm Dress</p>
                <p>Price: $80.00</p>
                <select name="size1">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity1" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- DRESS 2 -->
            <div>
                <input type="hidden" name="product_id2" value="2">
                <img src="{{ url_for('static', filename='dress2.png') }}" alt="Midnight Bloom Gown">
                <p>Midnight Bloom Gown</p>
                <p>Price: $70.00</p>
                <select name="size2">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity2" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- DRESS 3 -->
            <div>
                <input type="hidden" name="product_id3" value="2">
                <img src="{{ url_for('static', filename='dress3.png') }}" alt="Enchanting Ember Dress">
                <p>Enchanting Ember Dress</p>
                <p>Price: $90.00</p>
                <select name="size3">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity3" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- DRESS 4 -->
            <div>
                <input type="hidden" name="product_id4" value="4">
                <img src="{{ url_for('static', filename='dress4.png') }}" alt="Serene Serendipity Frock">
                <p>Serene Serendipity Frock</p>
                <p>Price: $135.00</p>
                <select name="size4">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity4" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- DRESS 5 -->
            <div>
                <input type="hidden" name="product_id5" value="5">
                <img src="{{ url_for('static', filename='dress5.png') }}" alt="Velvet Vortex Ensemble">
                <p>Velvet Vortex Ensemble</p>
                <p>Price: $95.00</p>
                <select name="size5">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity5" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- DRESS 6 -->
            <div>
                <input type="hidden" name="product_id6" value="6">
                <img src="{{ url_for('static', filename='dress6.png') }}" alt="Radiant Rainforest Robe">
                <p>Radiant Rainforest Robe</p>
                <p>Price: $140.00</p>
                <select name="size6">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity6" value="0">
                <input type="submit" value="Add to Cart">
            </div>


            <!-- PANTS 7 -->
            <div>
                <input type="hidden" name="product_id7" value="7">
                <img src="{{ url_for('static', filename='pants1.png') }}" alt="Stealthy Shadow Trousers">
                <p>Stealthy Shadow Trousers</p>
                <p>Price: $180.00</p>
                <select name="size7">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity7" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- PANTS 8 -->
            <div>
                <input type="hidden" name="product_id8" value="8">
                <img src="{{ url_for('static', filename='pants2.png') }}" alt="Electric Ember Denim">
                <p>Electric Ember Denim</p>
                <p>Price: $190.00</p>
                <select name="size8">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity8" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- PANTS 9 -->
            <div>
                <input type="hidden" name="product_id9" value="9">
                <img src="{{ url_for('static', filename='pants3.png') }}" alt="Cosmic Cascade Pants">
                <p>Cosmic Cascade Pants</p>
                <p>Price: $165.00</p>
                <select name="size9">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity9" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- PANTS 10 -->
            <div>
                <input type="hidden" name="product_id10" value="10">
                <img src="{{ url_for('static', filename='pants4.png') }}" alt="Urban Utopia Pants">
                <p>Urban Utopia Pants</p>
                <p>Price: $155.00</p>
                <select name="size10">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity10" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- PANTS 11 -->
            <div>
                <input type="hidden" name="product_id11" value="11">
                <img src="{{ url_for('static', filename='pants5.png') }}" alt="Crimson Comet Pants">
                <p>Crimson Comet Pants</p>
                <p>Price: $170.00</p>
                <select name="size11">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity11" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- PANTS 12 -->
            <div>
                <input type="hidden" name="product_id12" value="12">
                <img src="{{ url_for('static', filename='pants6.png') }}" alt="Sapphire Skyline">
                <p>Sapphire Skyline</p>
                <p>Price: $165.00</p>
                <select name="size12">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity12" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- SKIRTS 13 -->
            <div>
                <input type="hidden" name="product_id13" value="13">
                <img src="{{ url_for('static', filename='skirt1.png') }}" alt="Mystic Meadow Skirt">
                <p>Mystic Meadow Skirt</p>
                <p>Price: $110.00</p>
                <select name="size13">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity13" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- SKIRTS 14 -->
            <div>
                <input type="hidden" name="product_id14" value="14">
                <img src="{{ url_for('static', filename='skirt2.png') }}" alt="Electric Elegance Midi">
                <p>Electric Elegance Midi</p>
                <p>Price: $115.00</p>
                <select name="size14">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity14" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- SKIRTS 15 -->
            <div>
                <input type="hidden" name="product_id15" value="15">
                <img src="{{ url_for('static', filename='skirt3.png') }}" alt="Whimsical Waterfall Wrap">
                <p>Whimsical Waterfall Wrap</p>
                <p>Price: $105.00</p>
                <select name="size15">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity15" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- SKIRTS 16 -->
            <div>
                <input type="hidden" name="product_id16" value="16">
                <img src="{{ url_for('static', filename='skirt4.png') }}" alt="Enigmatic Envy">
                <p>Enigmatic Envy</p>
                <p>Price: $125.00</p>
                <select name="size16">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity16" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- SKIRTS 17 -->
            <div>
                <input type="hidden" name="product_id17" value="17">
                <img src="{{ url_for('static', filename='skirt5.png') }}" alt="Crystal Cascade Skirt">
                <p>Crystal Cascade Skirt</p>
                <p>Price: $135.00</p>
                <select name="size17">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity17" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- SKIRTS 18 -->
            <div>
                <input type="hidden" name="product_id18" value="18">
                <img src="{{ url_for('static', filename='skirt6.png') }}" alt="Sunlit Serenade Pleated">
                <p>Sunlit Serenade Pleated</p>
                <p>Price: $130.00</p>
                <select name="size18">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity18" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- TOPS 19 -->
            <div>
                <input type="hidden" name="product_id19" value="19">
                <img src="{{ url_for('static', filename='top1.png') }}" alt="Stellar Symphony">
                <p>Stellar Symphony</p>
                <p>Price: $50.00</p>
                <select name="size19">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity19" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- TOPS 20 -->
            <div>
                <input type="hidden" name="product_id20" value="20">
                <img src="{{ url_for('static', filename='top2.png') }}" alt="Mirage Melody">
                <p>Mirage Melody</p>
                <p>Price: $40.00</p>
                <select name="size20">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity20" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- TOPS 21 -->
            <div>
                <input type="hidden" name="product_id21" value="21">
                <img src="{{ url_for('static', filename='top3.png') }}" alt="Enchanted Echo Peplum">
                <p>Enchanted Echo Peplum</p>
                <p>Price: $60.00</p>
                <select name="size21">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity21" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- TOPS 22 -->
            <div>
                <input type="hidden" name="product_id22" value="22">
                <img src="{{ url_for('static', filename='top4.png') }}" alt="Midnight Muse">
                <p>Midnight Muse</p>
                <p>Price: $55.00</p>
                <select name="size22">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity22" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- TOPS 23 -->
            <div>
                <input type="hidden" name="product_id23" value="23">
                <img src="{{ url_for('static', filename='top5.png') }}" alt="Voyage Camisole">
                <p>Voyage Camisole</p>
                <p>Price: $65.00</p>
                <select name="size23">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity23" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- TOPS 24 -->
            <div>
                <input type="hidden" name="product_id24" value="24">
                <img src="{{ url_for('static', filename='top6.png') }}" alt="Celestial Serenity">
                <p>Celestial Serenity</p>
                <p>Price: $70.00</p>
                <select name="size24">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity24" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- JACKETS 25 -->
            <div>
                <input type="hidden" name="product_id25" value="25">
                <img src="{{ url_for('static', filename='jacket1.png') }}" alt="Celestial Cascade">
                <p>Celestial Cascade</p>
                <p>Price: $200.00</p>
                <select name="size25">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity25" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- JACKETS 26 -->
            <div>
                <input type="hidden" name="product_id26" value="26">
                <img src="{{ url_for('static', filename='jacket2.png') }}" alt="Arctic Aurora">
                <p>Arctic Aurora</p>
                <p>Price: $250.00</p>
                <select name="size26">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity26" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- JACKETS 27 -->
            <div>
                <input type="hidden" name="product_id27" value="27">
                <img src="{{ url_for('static', filename='jacket3.png') }}" alt="Velvet Vortex">
                <p>Velvet Vortex</p>
                <p>Price: $230.00</p>
                <select name="size27">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity27" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- JACKETS 28 -->
            <div>
                <input type="hidden" name="product_id28" value="28">
                <img src="{{ url_for('static', filename='jacket4.png') }}" alt="Ember Parka">
                <p>Ember Parka</p>
                <p>Price: $240.00</p>
                <select name="size28">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity28" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- JACKETS 29 -->
            <div>
                <input type="hidden" name="product_id29" value="29">
                <img src="{{ url_for('static', filename='jacket5.png') }}" alt="Urban Utopia">
                <p>Urban Utopia</p>
                <p>Price: $280.00</p>
                <select name="size29">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity29" value="0">
                <input type="submit" value="Add to Cart">
            </div>

            <!-- JACKETS 30 -->
            <div>
                <input type="hidden" name="product_id30" value="30">
                <img src="{{ url_for('static', filename='jacket6.png') }}" alt="Brooklyn New York">
                <p>Brooklyn New York</p>
                <p>Price: $300.00</p>
                <select name="size30">
                    <option value="">Select Size</option>
                    <option value="XS">XS</option>
                    <option value="S">S</option>
                    <option value="M">M</option>
                    <option value="L">L</option>
                    <option value="XL">XL</option>
                </select>
                <h2>Quantity</h2>
                <input style="width: 50px;" type="number" name="quantity30" value="0">
                <input type="submit" value="Add to Cart">
            </div>

        </form>
    </div>
</body>

</html>